# Database (Railway PostgreSQL)
DATABASE_URL="postgresql://postgres:[PASSWORD]@containers.railway.app:[PORT]/railway"

# JWT Secret
JWT_SECRET="generate-a-32-character-random-string"

# Environment
NODE_ENV="production"
